.payment-policy {
    padding: 80px;
    text-align: center;
    background-color: #f5f5f5;
}

.payment-details {
    max-width: 800px;
    margin: 50px auto;
    font-size: 18px;
    line-height: 1.8;
}

.payment-details h3 {
    font-weight: bold;
    margin-top: 30px;
}

.payment-details ul {
    padding-left: 20px;
}

.payment-details ul li {
    margin-bottom: 10px;
}

.support-text {
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
}

.customer-support {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
}
.ft-contact-link{
    text-decoration: none;
    color: #505050;
}
@media (max-width:767px){
  .payment-policy{  
    padding: 48px !important;
}
}