.privacy-policy {
    padding: 80px;
    text-align: center;
    background-color: #f5f5f5;
}

.privacy-details {
    max-width: 800px;
    margin: 50px auto;
    font-size: 18px;
    line-height: 1.8;
}

.privacy-details h3 {
    font-weight: bold;
    margin-top: 30px;
}

.privacy-details ul {
    padding-left: 20px;
}

.privacy-details ul li {
    margin-bottom: 10px;
}


@media (max-width:767px){
    .privacy-policy{  
      padding: 48px !important;
  }
  }

