.mob-nav-fts{
    position: fixed;
    width: 100%;
    background-color: #fff;
    left: 0;
    bottom: -2px;
    z-index: 6;
}
.nav-mob-ul-bt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 25px;
}

.stick-mob-nav-link{
    display: flex
    ;
        flex-direction: column;
        align-items: center;
        row-gap: 3px;
        justify-content: center;
        color: #000;
        text-decoration: none;
        font-weight: 700;
        padding: 10px 0;
        font-size: 17px;
}
.stick-mob-nav-link svg{
    font-size: 24px;
}