.payment-container>p{
  padding-top: 20px;

}
.payment-container{
  margin-bottom: 20px;
}
.payment-container .btn-success{
  margin-top: 18px;
  margin-left: 50px;
}

@media(max-width:767px){
  .payment-container{
    text-align: center;
}
 .payment-container>p{
  padding-top: 14px;
 
}
.checkoutButton{
    margin-left: 0 !important;

}
}
