@import url('../App.css');
@import url('../index.css');
@import url('../Components/Footer/Footer.css');
@import url('../Components/NavBar/Navbar.css');
@import url('../Components/NavBar/Searchsite.css');
@import url('../Components/customsearch/search.css');
@import url('../Components/homecategories/HomeCategory.css');
@import url('../Components/items/Items.css');
@import url('../Components/mobilenav/Mobilenav.css');
@import url('../Components/orderdetail/Orderdetail.css');
@import url('../Components/popupemailverify/Popup.css');
@import url('../Components/productsidebar/PriceRange.css');
@import url('../Components/productsidebar/ProductSidebar.css');
@import url('../Components/productdetailslider/ProductDetailSlide.css');
@import url('../Components/similarproduct/SimilarProduct.css');
@import url('../Pages/About/About.css');
@import url('../Pages/Cart/Cart.css');
@import url('../Pages/Checkout/Checkout.css');
@import url('../Pages/Contact/Contact.css');
@import url('../Pages/Home/Home.css');
@import url('../Pages/LoginSignup/LoginSignup.css');
@import url('../Pages/PayementPolicy/PayementPolicy.css');
@import url('../Pages/Product/Product.css');
@import url('../Pages/RazorpayPayment/RazorpayPayment.css');
@import url('../Pages/ReturnsRefunds/Returns.css');
@import url('../Pages/ShippingPolicy/ShippingPolicy.css');
@import url('../Pages/account/Account.css');
@import url('../Pages/policies/Policy.css');
@import url('../Pages/productDetail/ProductDetail.css');
@import url('../Pages/resetpassword/ResetPassword.css');
@import url('../Pages/stories/Stories.css');
@import url('../Pages/terms/Termsandconditions.css');
@import url('../Pages/wishlist/Wishlist.css');
