
/* Mobile Filter Toggle Button */
.mobile-filter-toggle {
  display: none; /* Hidden by default */
  background-color: #ff6f61;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.mobile-filter-toggle:hover {
  background-color: #e65b50;
}

/* Mobile Filter Menu */
.mobile-filter-menu {
  transition: transform 0.3s ease;
}

.mobile-filter-menu.open {
  transform: translateX(0);
}

/* Hide filter menu on mobile by default */
@media (max-width: 768px) {
  .mobile-filter-toggle {
    display: block; /* Show toggle button on mobile */
  }

  .mobile-filter-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: white;
    z-index: 100;
    transform: translateX(-100%);
    overflow-y: auto;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    font-size: 12px;
  }

  .mobile-filter-menu.open {
    transform: translateX(0);
  }

}

/* Styling for the filter heading */
.filter-heading {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Styling for the icon */
.filter-icon {
  margin-right: 10px;
  font-size: 1.2em;
  color: #e91e63;
  transition: transform 0.3s ease;
}

/* Hover effect for the heading */
.filter-heading:hover {
  color: #e91e63;
}

/* Hover effect for the icon */
.filter-heading:hover .filter-icon {
  transform: scale(1.2);
}

/* Search Result Not Found Styling */
.search-not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f9f9f9;
  color: #333;
  font-family: "Arial", sans-serif;
}

.search-not-found-container .not-found-icon {
  font-size: 100px;
  color: #ff6347;
  margin-bottom: 20px;
}

.search-not-found-container h2 {
  font-size: 2rem;
  text-align: center;
  color: #555;
  margin-bottom: 10px;
}

.search-not-found-container p {
  font-size: 1.1rem;
  text-align: center;
  color: #777;
  max-width: 600px;
  margin-bottom: 20px;
}

.search-not-found-container .back-home-btn {
  padding: 10px 20px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-not-found-container .back-home-btn:hover {
  background-color: #e5533d;
}

.not-found-icon {
  font-size: 100px;
  color: #ff6347;
  margin-bottom: 20px;
}
.product-pages{
  margin-top: 40px;
}

.container-sticky{
  position: sticky;
  top: 90px;
}


.filterScroll {
  -ms-overflow-style: scrollbar;
   padding: 7px;
}
.filterScroll::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}
.filterScroll::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}
.filterScroll::-webkit-scrollbar-thumb {
  background-color: #e80000;
}