.return-policy {
    padding: 80px;
    text-align: center;
    background-color: #f5f5f5;
}

.return-details {
    max-width: 800px;
    margin: 50px auto;
    font-size: 18px;
    line-height: 1.8;
}


.return-details ul {
    padding-left: 20px;
}

.return-details ul li {
    margin-bottom: 10px;
}


@media (max-width:767px){
    .return-policy{  
      padding: 48px !important;
  }
  }

