.similar-product-swiper .swiper-button-prev,
.similar-product-swiper .swiper-button-next{
    background: #000;
}
.similar-product-swiper .swiper-button-prev:after,
.similar-product-swiper .swiper-button-next:after{
    color: #fff;
}

.similar-product-swiper {
    width: 100%;
    padding: 20px 0;
}
