.shipping-policy {
    padding: 80px;
    text-align: center;
    background-color: #f5f5f5;
}

.shipping-details {
    max-width: 800px;
    margin: 50px auto;
    font-size: 18px;
    line-height: 1.8;
}

.shipping-details h3 {
    font-weight: bold;
    margin-top: 30px;
}

.shipping-details ul {
    padding-left: 20px;
}

.shipping-details ul li {
    margin-bottom: 10px;
}

.support-text {
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
}
@media (max-width:767px){
    .shipping-policy{  
      padding: 48px !important;
  }
  }

